#header {

text-align: center;
color: #1B4F72;
border-radius: 3px 3px 0px 0px;
background-color: #D6EAF8;
border: 2px solid #AED6F1;

}


.section.level4 {

text-align: center;
color: #1B4F72;
background-color: #D6EAF8;
border: 2px solid #AED6F1;


}

.section.level3 {

background-color: #D6EAF8;
border: 1px solid #AED6F1;

}

h1, h3, h4 {

text-decoration: underline;
text-align: center;
color: #1B4F72;

}

p {

font-size: 18px;
text-align: justify;
color: #1B4F72;
padding: 5px;

}

img {

border-radius: 3px;
border: 1px solid #2E86C1;

}


.main-container {
  max-width: 100% !important;
  margin: auto;
}